
- const css_folder = 'css'

head
    meta(class="viewport" name="viewport" content="width=device-width, initial-scale=1.0")
    meta(property="og:url" content="https://"+host)
    link(href='https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Permanent+Marker&display=swap' rel='stylesheet')
    link(rel="stylesheet" type="text/css" media="all" href="/assets/"+css_folder+"/fontawesome.min.css?v=" + VERSION)
    link(rel="stylesheet" type="text/css" media="all" href="/assets/"+css_folder+"/style.css?v=" + VERSION)
    title #{name ? name + " | ": ""} Now Playing

    if(process.env.DISABLE_GIF)
        style
            .
                #latest-tracks .top-chart-row:nth-child(2n) .top-chart-row_left,
                .top-chart-row_left{
                    background-image: unset
                }


    