include assets

doctype html
html(lang="nl-nl")
    include head

    body
        div#main-page
            div#main-content
                block main-content
            include footer
            block footer