include assets

doctype html
html(lang="nl-nl")
    include head

    body(class="page-"+page + " " + (SETTINGS_CONTROLLER.getSetting("disco") === true ? "disco" : ""))
        div#main-page
            div#main-content
                block main-content
            include footer
            block footer