name: Docker Image CI

on:
  push:
    branches: [ production ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}
        registry: ${{ secrets.REGISTRY_URL }}

    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16.4

    - uses: actions/checkout@v2
    
    - name: Fetch required Go modules
      run:  go mod download

    - name: Build
      run:  go build -v ./...

    
    - name: Set up Docker Buildx
      id:   buildx
      uses: docker/setup-buildx-action@v1

    - name: Cache Docker layers
      uses: actions/cache@v2
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-
    
    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        builder: ${{ steps.buildx.outputs.name }}
        push: false
        load: true
        tags: ${{ secrets.REGISTRY_URL }}/rickarts/now-playing:latest
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache
    
